<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="add/" method="get" >
    <table>
        <tr>
            <th>
                 <label >Calculate</label></th>
    <td><input width="200" height="200" type="text" name="n1" placeholder="number 1"></td>
    <td><input type="text" name="n2" placeholder="number 2"></td>
            <td><input type="submit" placeholder="+"></td><br>
            </th>
        </tr>
    </table>

</form>
<!--<form action="sub/" method="get">
    <table>
        <tr>
                   <th> <label>Subtraction</label></th>
            <td><input type="text" name="n3" placeholder="number 1"></td>
    <td><input type="text" name="n4" placeholder="number 2"></td>
   <td> <input type="submit" placeholder="-"></td>
        </tr>

    </table>

</form>
<form action="mult/" method="get">
    <table>
        <tr>
               <th><label>Multiplication</label></th>
     <td><input type="text" name="n5" placeholder="number 1"></td>
     <td><input type="text" name="n6" placeholder="number 2"></td>
    <td> <input type="submit" placeholder="-"> </td>

        </tr>
    </table>

</form>
<form action="divide/" method="get">
    <table>
        <tr>
               <th><label>Division  </label></th>
            <td> <input type="text" name="n7" placeholder="number 1"></td>
            <td><input type="text" name="n8" placeholder="number 2"></td>
            <td><input type="submit" placeholder="-"></td>
        </tr>
    </table>

</form>-->
</body>
</html>